/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	hr
	{
		display: block;
	}
		
	#main-wrapper hr
	{
		width: 100%;
	}
	
	ul.style2
	{
	}

		ul.style2 li
		{
			padding-left: 0;
		}
	
	ul.contact
	{
	}

		ul.contact li
		{
			padding-left: 0;
		}
	
/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/
	
	#main-wrapper
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#page-header
	{
	}

		#page-header h1
		{
		}

			#page-header h1 a
			{
				display: block;
				width: 20%;
				padding: 0.35em 0.9em 0.35em 0.9em;
			}

	.dropotron-level-0
	{
		margin-top: -4px;
	}
