/*****************************************************************/
/* 5grid 0.4.1 by n33.co | MIT+GPLv2 license licensed            */
/* noscript-1000px.css: Kludgey noscript stylesheet              */
/*****************************************************************/

/*********************/
/* Base Grid         */
/*********************/

	.\35 grid-layout .\31 2u { width: 100%; }
	.\35 grid-layout .\31 1u { width: 91.5%; }
	.\35 grid-layout .\31 0u { width: 83%; }
	.\35 grid-layout .\39 u { width: 74.5%; }
	.\35 grid-layout .\38 u { width: 66%; }
	.\35 grid-layout .\37 u { width: 57.5%; }
	.\35 grid-layout .\36 u { width: 49%; }
	.\35 grid-layout .\35 u { width: 40.5%; }
	.\35 grid-layout .\34 u { width: 32%; }
	.\35 grid-layout .\33 u { width: 23.5%; }
	.\35 grid-layout .\32 u { width: 15%; }
	.\35 grid-layout .\31 u { width: 6.5%; }

	.\35 grid-layout .\31 u, .\35 grid-layout .\32 u, .\35 grid-layout .\33 u, .\35 grid-layout .\34 u, .\35 grid-layout .\35 u, .\35 grid-layout .\36 u, .\35 grid-layout .\37 u, .\35 grid-layout .\38 u, .\35 grid-layout .\39 u, .\35 grid-layout .\31 0u, .\35 grid-layout .\31 1u, .\35 grid-layout .\31 2u {
		margin: 1% 0 1% 2%;
		float: left;
	}

	.\35 grid-layout:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

/*********************/
/* Desktop           */
/*********************/

	.\35 grid-layout .row:after { content: ''; display: block; clear: both; height: 0; }
	.\35 grid-layout .row > :first-child { margin-left: 0; }
	.\35 grid-layout .row:first-child > * { margin-top: 0; }
	.\35 grid-layout .row:last-child > * { margin-bottom: 0; }
	.\35 grid-layout .offset-1u:first-child { margin-left: 8.5% !important; }
	.\35 grid-layout .offset-2u:first-child { margin-left: 17% !important; }
	.\35 grid-layout .offset-3u:first-child { margin-left: 25.5% !important; }
	.\35 grid-layout .offset-4u:first-child { margin-left: 34% !important; }
	.\35 grid-layout .offset-5u:first-child { margin-left: 42.5% !important; }
	.\35 grid-layout .offset-6u:first-child { margin-left: 51% !important; }
	.\35 grid-layout .offset-7u:first-child { margin-left: 59.5% !important; }
	.\35 grid-layout .offset-8u:first-child { margin-left: 68% !important; }
	.\35 grid-layout .offset-9u:first-child { margin-left: 76.5% !important; }
	.\35 grid-layout .offset-10u:first-child { margin-left: 85% !important; }
	.\35 grid-layout .offset-11u:first-child { margin-left: 93.5% !important; }
	.\35 grid-layout .offset-1u { margin-left: 10.5% !important; }
	.\35 grid-layout .offset-2u { margin-left: 19% !important; }
	.\35 grid-layout .offset-3u { margin-left: 27.5% !important; }
	.\35 grid-layout .offset-4u { margin-left: 36% !important; }
	.\35 grid-layout .offset-5u { margin-left: 44.5% !important; }
	.\35 grid-layout .offset-6u { margin-left: 53% !important; }
	.\35 grid-layout .offset-7u { margin-left: 61.5% !important; }
	.\35 grid-layout .offset-8u { margin-left: 70% !important; }
	.\35 grid-layout .offset-9u { margin-left: 78.5% !important; }
	.\35 grid-layout .offset-10u { margin-left: 87% !important; }
	.\35 grid-layout .offset-11u { margin-left: 95.5% !important; }
