/*****************************************************************/
/* 5grid 0.4.1 by n33.co | MIT+GPLv2 license licensed            */
/* core-1200px.css: 1200px                                       */
/*****************************************************************/

/*********************/
/* 1200px            */
/*********************/

	.\35 grid-layout {
		width: 1200px;
		margin: 0 auto;
	}
