/*****************************************************************/
/* 5grid 0.4.1 by n33.co | MIT+GPLv2 license licensed            */
/* core-1000px.css: 1000px                                       */
/*****************************************************************/

/*********************/
/* 1000px            */
/*********************/

	.\35 grid-layout {
		width: 1000px;
		margin: 0 auto;
	}
